
html
   font-family: 'LatoWeb', sans-serif;
   -webkit-font-smoothing: antialiased;
   moz-osx-font-smoothing: antialiased;
   font-smoothing: antialiased;
p
    font-size: 16px;
    line-height: 26px;
    font-family: 'LatoWebLight';
h1
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    font-family: 'LatoWebMedium';
h2
    font-size: 25px;
    margin-bottom: 27px;
    font-family: 'LatoWebLight';

h3
    font-size: 20px;
    margin-bottom: 12px;
    letter-spacing: 1.5px;
    margin-left: 0;
    font-family: 'LatoWeb';



img {
    max-width: 100%;
}

/* Start of Navigation CSS */

ul {
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}
li {
    padding:0;
    margin:0;
    list-style-type: circle;
}

.header-nav
    background: #424242;
    padding-top: 8px
    padding-bottom: 8px;
    width: 100%;
    position: relative;
    height: 70px;
    top: 0;
    left:0;
    
.contact-align {
    margin-left: -33px;
}


 .logo {
    float: left;
    z-index: 3;
    position: absolute;
    width: 222px;
    margin-top: -8px;
}

.overlay-logo {

    float: left;
    z-index: 3;
    position: absolute;
    width: 222px;
    margin-top: 0;

}

.main-logo {
    position: relative;
    width: 222px;
    top: 10px;
    left: 20px;
    }


nav {
    
    width:100%;
    position:relative;
    height:50px;
    background:none;
}
nav ul {
    
    padding-left: 18.5%;
    padding-top: 2px;
}
nav ul li {
    display:inline-block;
    
}
nav ul li a {
    color:#fff;
    display:inline-block;
    padding:1em 3em;
    text-decoration:none;
    letter-spacing: 1px;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size:16px;
}
nav ul li a:hover {
    color: #f2385a;
}

.nav-tel {
    display: inline;
    position: absolute;
    right: 100px;
    top: 13px;
    z-index: 999;
    font-size: 18px;
}

@media only screen and (min-width : 0px) and (max-width : 600px) { 
.nav-tel {

    display: none;
}

}
.top-phone {
    font-size: 26px;
    padding-top: 3px;
    
}

.tel-align{
    
}

.tel-icon {
    position: absolute;
    top: -4px;
    left: -31px;
}
    

.nav-tel a {
   color: #f2385a;
   vertical-align: middle;
}


button.trigger
    background: url('../images/cd-icon-arrow.svg') no-repeat center center;
/*styling open close button*/
.button {
    display:inline;
    position:absolute;
    right:30px;
    top:6px;
    z-index:999;
    font-size:30px;
}
.button a {
    text-decoration:none;
}
.btn-open:after {
    color:#fff;
    content:"\f0c9";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
    color:#f2385a;
}
.btn-close:after {
    color:#fff;
    content:"\f00d";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
    color: #f2385a;
}
/*overlay*/
.overlay {
    display:none;
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    background:#333;
    overflow:auto;
    z-index:99;
}
.wrap {
    color:#e9e9e9;
    text-align:center;
    max-width:100%;
    margin:0 auto;
}
.wrap ul.wrap-nav {
    border-bottom: 1px solid #575757;
    margin-left: -25%;
    margin-top: 10px;    
}

@media only screen and (min-width : 1025px) and (max-width : 1599px) { 
    .wrap ul.wrap-nav {
    margin-left: -11%;
    }
    }
    
.wrap ul.wrap-nav li {
    display:inline-block;
    vertical-align:top;
    position:relative;
}
.wrap ul.wrap-nav li a {
    color:#f2385a;
    display: inline-block;
    padding: 1em 3em;
    text-decoration:none;
    letter-spacing: 1px;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size: 16px;
}
.wrap ul.wrap-nav li a:hover {
    color:#fff;
}
.wrap ul.wrap-nav ul {
    padding:20px 0;
}
.wrap ul.wrap-nav ul li {
    display:block;
    font-size:13px;
    width:100%;
    color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
    color:#f0f0f0;
    font-size: 13px;
}
.wrap ul.wrap-nav ul li a:hover {
    text-decoration: underline;
    -moz-text-decoration-color: #f2385a;
    -webkit-text-decoration-color: #f2385a;
    text-decoration-color: #f2385a;
}
.social {
    font-size: 25px;
    padding: 20px;
    float: right
    font-size: 18px;
}
.social p {
    margin: 0;
    padding: 20px 0 5px 0;
    line-height: 30px;
    font-size: 13px;
}
.social p a {
    color:#f2385a;
    text-decoration:none;
    margin:0;
    padding:0;
}
.social-icon {
    width:80px;
    height:50px;
    background:#e9e9e9;
    color:#333;
    display:inline-block;
    margin:0 10px;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.social-icon:hover {
    background:#f2385a;
    color:#f0f0f0;
}
.social-icon i {
    margin-top:17px;
}
@media screen and (max-width:75em) {
    .wrap ul.wrap-nav>li {
        width:100%;
        padding:30px 0px;
        border-bottom:1px solid #575757;
    }
    .wrap ul.wrap-nav {
        padding:30px 0px 0px 0px;
        margin-left: 0;
    }
    nav ul {
        opacity:0;
        visibility:hidden;
    }
    .social {
        color:#c1c1c1;
        font-size:25px;
        float: none;
    }
    .social-icon {
        width:100%;
        height:50px;
        background:#fff;
        color:#333;
        display:block;
        margin:5px 0;
    }
}
.content {
    width:100%;
    margin-top:200px;
    font-size:20px;
    color: #333;
    text-align: center;
}

/* End of Navigation Responsive CSS */

.content-top {
    padding-bottom: 50px;
}


.content-bg {
    min-height: 400px;
    background: transparent;
}

.welcome h1 {
    font-size: 27px;
    font-weight: 400;
    color: #444
    margin-left: 10px
}

.welcome
    padding: 30px 20px 0 20px;
    color: #fff;

    h2
        word-break: keep-all;
        font-weight: 300;font-size: 24px;line-height:43px;margin-bottom: 30px; margin-left: 10px; color:#444;



.welcome-div
    color: #fff;
    h3

        margin-top: 0px;
        p
            line-height: 40px;
            margin-left: 20px;


.process
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 15px 10px 20px;
	background: #34CFCF;width:600px;

	img
		float: right; margin-top: -30px;



.branding
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 15px 10px 20px;
	background: #4cd87b;width:600px;
	img
		float: right; margin-top: -30px;


.web-design
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 15px 10px 20px;
	background: #595b59;width:600px;margin-bottom: 100px;
	img
		float: right; margin-top: -30px;

.intro-footer
	background: #4cd87b;




section#web-design  {
    background-image: url("../images/web-bg-stripes.png");
    background-repeat: no-repeat;
    background-position: bottom left;
   
}




/* Start of Intro Responsive CSS */

@media only screen and (min-width : 0px) and (max-width : 660px){
    .process,.branding,.web-design {
        width: auto;
    }

    }

@media only screen and (min-width : 0px) and (max-width : 480px){


.process img, .branding img, .web-design img {
    display: none;


}

}



 /* End of Intro Responsive CSS */

// Reveal on scroll
.revealOnScroll { opacity: 0; }

.services-h1
    position: relative;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 100px;
    font-weight: 300;
    font-size: 46px;
    font-family: 'LatoWebThin';
    color: #fff;


.services-top
	font-size: 29px;
	font-weight: 300;font-family: 'LatoWebLight';

.services
    padding-top: 50px;
    padding-bottom: 50px;

.services-header
    width: 37%;
    margin: 0 auto
    display: block;
    text-align: center;


@media only screen and (min-width : 0px) and (max-width : 480px){

    .services-header {
        width: 85%;
    }

    }


.services ul
	text-align: center;color: #fff;


	li
		display: inline-block;
		padding: 10px;

.services-bottom

	img
     max-width: 100%
     margin-bottom: 1em;

.services-bg
    position: relative;
    background-attachment: fixed;
    min-height: 40%;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px
    background-image: url("../images/diamond-bg.png");
    background-size: 100px 100px;
    background-color: #4cd87b;
    background-repeat: repeat;


.services-text-bg
    position: relative;
    background-attachment: fixed;
    min-height: 40%;
    z-index: 1;
    background-color: #595b59;
    background-image: url("../images/diamond-bg.png");
    background-size: 100px 100px;
    text-align: center;
    padding-bottom: 20px
    padding-left: 10%;
    padding-right: 10%;



.services-text
	font-size: 45px;line-height: 70px;font-weight: 200;
	color: #fff;

	margin-bottom: 15px; padding-top: 1em;text-transform: uppercase;font-family: 'LatoWebHairline';
.logo-only
    text-align: center;



img.services
    max-width: 100%;

/* Start of Services Responsive CSS */

@media only screen and (min-width : 320px) and (max-width : 660px){
    .services-text-bg {
        width: 100%;
    }



}



/* End of Services Responsive CSS */

.team-section {
   background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 69%, #f2f2f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 69%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 69%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.team-section-interior {
    margin-top: 28px;
}

.team-top
    margin-bottom: 28px;
    margin-top: 28px;


.team-section


    h2
        font-size: 53px;
        line-height: 82px;
        font-weight: 300;
        font-family: 'LatoWebThin';
        text-align: center;
    h3
        font-size: 28px;
        line-height: 37px;
        font-weight: 300;
        font-family: 'LatoWebLight';
        text-align: center;
        color: #fff;
        span
            background-color: #f2385a;
            padding: 10px 30px 10px 30px;

.team-table
    display: table;
    width: 100%;

.team-bio
    margin-left: auto;
    margin-right: auto;
    width: 46%;
    text-align: center;
    a
        text-decoration: none;

.dwayne-meet-the-team.column.column-4
    left: 5%
.liam-meet-the-team.column.column-4
    right: 5%


@media only screen and (min-width : 0px) and (max-width : 480px) {

.dwayne-meet-the-team.column.column-4 {
    left: 0
    }
.liam-meet-the-team.column.column-4 {
    right: 0
    }

}


.dwayne-meet-the-team, .rudy-meet-the-team, .liam-meet-the-team
    height:370px
    position: relative;
    text-align: center;

.dwayne-profile-image
    background-image: url("../images/dwayne-profile-img-2.png");
    background-size: contain;
    position:absolute;
    width:100%;
    height: 370px;
    display:block;
    background-repeat: no-repeat
    background-position: center bottom
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 1;


.dwayne-profile-text, .rudy-profile-text, .liam-profile-text
    position: absolute
    top: 170px
    padding: 0 16%
    color: #000;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    h3
        color:#f2385a;


.rudy-profile-image
    background-image: url("../images/rudy-profile-img-2.png");
    background-size: contain;
    position:absolute;
    width:100%;
    height: 370px;
    display:block;
    background-repeat: no-repeat
    background-position: center bottom
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 1;

.liam-profile-image
    background-image: url("../images/liam-profile-img-2.png")
    background-size: contain;
    position:absolute;
    width:100%;
    height: 370px;
    display:block;
    background-repeat: no-repeat
    background-position: center bottom
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 1;

p.role {
    font-weight: 600;
}

@media only screen and (min-width : 901px) and (max-width : 2000px) {


.content-box {
    position: relative;
    height: 400px;
    }
.content {
    position: absolute
    bottom: 0
    }

    }

@media only screen and (min-width : 600px) and (max-width : 900px) {


.team-bio{
    width: 94%;
    }

}


@media only screen and (min-width : 0px) and (max-width : 1200px) {

.mfp-content img {
    max-width:100%;
}
.content{
    margin-top: 10px;
    }
.dwayne-meet-the-team.column.column-4{
     width: 100%;
     left: 0;
     
 }
 .rudy-meet-the-team.column.column-4 {
     width: 100%;
     } 
.liam-meet-the-team.column.column-4 {
    width: 100%;
    right: 0;

    
}   

}

.bio-name
    color: #f2385a;
    font-family: 'LatoWebSemibold';
    font-size: 16px;
    line-height: 26px;

.bio-title
    font-family: 'LatoWebLight';
    font-style: italic;
    font-size: 16px;
    line-height: 26px;color: #000;

#rudy-popup
    h3
        color: #f2385a;
        font-family: 'LatoWebSemibold';
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 0;
    h2
        font-family: 'LatoWebLight';
        font-style: italic;
        font-size: 16px;
        line-height: 26px;
        margin-top: 0;
        padding-bottom: 30px;
    p
        font-family: 'LatoWebLight'
        font-size: 18px;
        line-height: 26px;



.team-button {
    display:inline;
    position:absolute;
    right:30px;
    top:6px;
    z-index:999;
    font-size:30px;
}
.team-button a {
    text-decoration:none;
}

.team-btn-close:after {
    color:#f2385a;
    content:"\f00d";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}




.graphic-design,.web-section
    background-color: #595b59;
    padding: 0 30px 0 30px;
    color: #fff;

    h2
        font-size: 53px;
        font-weight: 200;
        line-height: 65px;
        font-family: 'LatoWebHairline';
    p
        font-size: 18px;
        line-height: 26px;

    ul
        margin-left: 30px;
        li
            padding-top: 10px;
            font-size: 18px;
            line-height: 32px;
            font-family: 'LatoWebLight';
    button
        font-size: 18px;
        line-height: 26px;
        color: #000;
        margin-left: 30px;
        padding: 10px 30px 10px 30px;

.cd-btn {
    margin-top: 28px;
    margin-bottom: 82px;

}

.offer
    font-size: 18px;
    line-height: 26px;
    font-family: 'LatoWebMedium';
    
.web-contact{ 
    font-size: 24px;
    padding-top: 0px; 
    color: #fff;
    font-weight: 200;
    line-height: 30px;
    font-family: 'LatoWebSemibold';

}
    .web-contact-number{
    font-size: 22px;
    color: #fff;
    width: 265px;
    border-box: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    background-color: #f2385a;
    font-weight: 200;
    line-height: 10px;
    font-family: 'LatoWebLight';

    }
    
    

.graphic-interior, .web-section-interior
        margin-top: 28px;
 .graphic-interior div, .web-section-interior div
     margin-top: 20px;


@media only screen and (max-width : 600px)  {


.gif-box {
    background: url('../images/gifs/main-size-graphic-design.gif')
    background-repeat: no-repeat;
    height: 375px;
    background-position: center center;
    }

}

@media only screen and (min-width : 601px) and (max-width : 1980px)   {


.gif-box {
    background: url('../images/gifs/main-size-graphic-design.gif')
    background-repeat: no-repeat;
    height: 375px;
    background-position: center center;
    }

}

.graphic-bottom
    position: relative;
    background-attachment: fixed;
    background-color: #f2385a;
    background-image: url("../images/diamond-bg.png");
    background-size: 100px 100px;
    min-height: 10%;
    z-index: 1;
    h2
        text-align: center;
        font-size: 46px;
        line-height: 70px;
        font-weight: 200;
        font-family: 'LatoWebHairline';
        text-transform: uppercase;
        padding-top: 100px;
        padding-bottom: 80px;
        color: #fff;

.graphic-table


    .first
        background-color:#34CFCF;
    .second
        background-color: #4cd87b;
    .third
        background-color: #666866;

.first, .second, .third
    text-align: center;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-right: -1.6%;
    width: 33.33%;
    min-height: auto;

    h3
        font-size: 20px;
        letter-spacing:1.5px;
        line-height: 26px;
        font-family: 'LatoWeb';

    p
        padding: 0 30px 0 30px;

.clear
    clear: both;
    
.column-icon
    width: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    
    

img.column-icon
    opacity: 0.8;
       

@media only screen and (min-width : 320px) and (max-width: 600px) {


    .first, .second, .third {
     margin-right: 0;
    width: auto;
}

.column + .column {
    margin-left: 0; 
}
}

@media only screen and (min-width : 600px) and (max-width: 1200px) {
    .first, .second, .third {
    
    min-height: 520px;
}

}


.graphic-image
    width: 100%;
    background-color: #595B59;
    img
        max-width: 100%;
        width:100%;


/*
====== Start of Webdesign Section ======
*/


section.web-section.row {
    overflow: hidden;   
}


.web-design-text
    margin-bottom: 82px;

.iphone-6
    position: absolute;
    top: 205px;
    left: 54px;
    z-index: 2;



    ul
        width: 280px
        height: 420px;
.macbook-pro
    position: absolute;
    width: 863px;
    top: 37px;
    left: 60px;
    z-index: 1;


    ul
        width: 623px
        height: 400px

.iphone-6 ul.unslider-wrap {
    margin: 0;
    left: 11px;
    top: -2px;
}

.macbook-pro ul.unslider-wrap {
    margin: 0;
    left: 104px;
    top: -8px;

}

.macbook-hardware
    position: absolute;
.mobile-hardware
    position: absolute;


.macbook-web
    width: 794px
    height: 400px
.iphone-web
    width: 140px
    height: 241px


@media only screen and (min-width : 0px) and (max-width : 600px) {

.macbook-pro, .iphone-6 {
    position: relative;
    }

    .macbook-hardware, .macbook-screenshots {
        display: none;

    }

    .iphone-6 {

    top: 0;


    }
}

@media only screen and (min-width : 0px) and (max-width : 480px) {

.iphone-6 ul.unslider-wrap {
    top: 19px;
}

}

/*
====== Start of Footer ======
*/


.footer
    background-color: #2d2d2d;
    color: #fff;
    font-family: 'LatoWebSemibold';
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 50px;
.footer-container
    padding: 70px 30px 50px 30px;
    h3
        margin-top: 0;
        margin-bottom: 35px;
        font-family:"LatoWebSemibold";
        font-size: 26px;
        line-height: 25px;
    a
        color: #fff;
        text-decoration:none;
        font-family: 'LatoWebLight';
        font-size: 16px;
        line-height: 26px;
    .fa-stack
        padding-bottom: 10px;
address
    font-family: 'LatoWebLight';
    font-size: 16px;
    line-height: 26px;
    .bold
        font-family: 'LatoWebSemibold'
input
    font-size: 14px;
    font-style: italic;
    color:#000;
    margin: 10px;
    padding:10px;


input#details
    width: 90%;
    padding-bottom: 60px;
input#name
    width: 232px;

input#telephone
    width: 232px;

input#email
    width: 232px;

input[type="submit"] {
    font-family: FontAwesome;
    font-size: 20px;
    color: #4cd87b;
    border: none;
    background-color: #2d2d2d;
    margin: 0;
    padding-right: 10px;
    transition: all .2s;
}

.fa-paper-plane {
    color: #4cd87b;
    padding-right: 10px;
}

.ui-body-inherit {
    margin-bottom: -10px;
}

.submit
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 30px;

.submit-btn
    font-family: LatoWebLight;
    font-size: 18px;
    color: #ffffff;
    background-color: #2d2d2d;
    border: #2d2d2d;


@media screen and (max-width: 550px) {

.in-touch-row, .social-media-row, .form-row {
    width: 100%
    padding-bottom: 30px; }


    .in-touch-row .column-2, .social-media-row .column-2, .form-row .column-2{
        float:left;
        padding-right:10px;
    }

        .in-touch-row .column-10, .social-media-row .column-10{
        float:left;
        padding-right:10px;
    }




}


@media screen and (min-width: 551px) and (max-width: 800px) {

.in-touch-row, .social-media-row,  {
    width: 45%
    padding-bottom: 30px; }


    .in-touch-row .column-2, .social-media-row .column-2, .form-row .column-2{

    }

        .in-touch-row .column-10, .social-media-row .column-10{

    }

    .form-row.column-6 {
        clear: both;
        width:100%;

    }




}


/*
====== End of Footer ======
*/


/*
====== Zoom effect ======
*/

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 900px;
  margin: 20px auto;
}



.mfp-zoom-in {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
      transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }

  }

}

body {
  font-size: 100%;

  }


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


}



.cd-panel-header ::after, .cd-panel-header ::before {
  content: '';
}

a {
  color: #fff;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;



  -webkit-overflow-scrolling: touch;

}


.cd-main-content h1 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #64788c;
  padding: 4em 0;
}
.cd-main-content .cd-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: LatoWebLight;
  letter-spacing: .1rem;
  border: 2px solid #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-main-content .cd-btn:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
      z-index: 3;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.cd-panel-header {
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;

  z-index: 5;

  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  font-weight: bold;
  color: #89ba2c;
  padding-left: 5%;
}
.from-right .cd-panel-header, .from-left .cd-panel-header {

}
.from-right .cd-panel-header {
  right: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 100%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 100%;
  }
}

.cd-panel-close {
    position: absolute;
    top: 66px;
    /* left: 15px; */
    height: 100%;
    width: 60px;

    overflow: hidden;
    text-indent: 100%;
    /* white-space: nowrap; */
    left: 1.09%;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    transition: all ease-in 5s;
    transition-delay: 2s;


}

.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 15px;
  height: 3px;
  width: 20px;
  background-color: #424f5c;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
  background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #dbe2e9;
  z-index: 4;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 100%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 100%;
  }
}

.cd-panel-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #424f5c;
  line-height: 1.4;
  margin: 2em 0;
}
.cd-panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }
}


//new CSS

/* --------------------------------

Patterns - reusable parts of our design

-------------------------------- */
.cd-text-replace {
  /* replace text with image */
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* --------------------------------

Menu trigger

-------------------------------- */
.cd-nav-trigger {
  position: absolute;
  z-index: 4;
  top: 64px;
  left: 1%;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger .cd-icon,
.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
  /* menu icon created in CSS */
  position: absolute;

  border-radius: 2px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch .cd-nav-trigger:hover {
  background-color: black;
}
.cd-nav-trigger .cd-icon {
  /* middle line of the menu icon */
  display: inline-block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}
.cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon::after {
  /* upper and lower lines of the menu icon */
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-nav-trigger .cd-icon::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger .cd-icon::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.cd-nav-trigger.project-open .cd-icon {
  /* user selects a projects - transform the icon into a 'X' */
  background-color: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.project-open .cd-icon::before, .cd-nav-trigger.project-open .cd-icon::after {
  background-color: white;
}
.cd-nav-trigger.project-open .cd-icon::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.cd-nav-trigger.project-open .cd-icon::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.cd-nav-trigger.nav-visible .cd-icon {
  /* user opens the navigation - transform the icon into an arrow */
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.cd-nav-trigger.nav-visible .cd-icon::after {
  -webkit-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -moz-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -ms-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -o-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
}
.cd-nav-trigger.nav-visible .cd-icon::before {
  -webkit-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -moz-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -ms-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -o-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger.nav-visible .cd-icon {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  }
  .cd-nav-trigger.nav-visible .cd-icon::after {
    -webkit-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -moz-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -ms-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -o-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
  }
  .cd-nav-trigger.nav-visible .cd-icon::before {
    -webkit-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -moz-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -ms-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -o-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
  }
}

/* --------------------------------

Projects

-------------------------------- */
.cd-projects-container {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}
.cd-projects-container.project-open {
  /* smooth scroll on iOS devices */
  -webkit-overflow-scrolling: touch;
}

.cd-projects-previews {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}
.cd-projects-previews::after {
  clear: both;
  content: "";
  display: table;
}
.project-open .cd-projects-previews {
  pointer-events: none;
}
.cd-projects-previews li {
  height: 25%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}
.cd-projects-previews li.selected {
  opacity: 0;
  /* move selected project preview out of the viewport with no transition */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}
.cd-projects-previews li.slide-out {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cd-projects-previews a {
  display: block;
  height: 100vh;
  width: 100%;
  /* fixes a bug on projects caption width */
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.cd-projects-previews li:nth-of-type(2) a {
  -webkit-transform: translateY(-16.66%);
  -moz-transform: translateY(-16.66%);
  -ms-transform: translateY(-16.66%);
  -o-transform: translateY(-16.66%);
  transform: translateY(-16.66%);
}
.cd-projects-previews li:nth-of-type(3) a {
  -webkit-transform: translateY(-33.32%);
  -moz-transform: translateY(-33.32%);
  -ms-transform: translateY(-33.32%);
  -o-transform: translateY(-33.32%);
  transform: translateY(-33.32%);
}
.cd-projects-previews li:nth-of-type(4) a {
  -webkit-transform: translateY(-49.98%);
  -moz-transform: translateY(-49.98%);
  -ms-transform: translateY(-49.98%);
  -o-transform: translateY(-49.98%);
  transform: translateY(-49.98%);
}

.cd-projects-previews li:nth-of-type(5) a {
  -webkit-transform: translateY(-66.64%);
  -moz-transform: translateY(-66.64%);
  -ms-transform: translateY(-66.64%);
  -o-transform: translateY(-66.64%);
  transform: translateY(-66.64%);
}

.cd-projects-previews li:nth-of-type(6) a {
  -webkit-transform: translateY(-75%);
  -moz-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  -o-transform: translateY(-75%);
  transform: translateY(-75%);
}
.cd-projects-previews .bg-loaded a {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li {
    display: inline-block;
    height: 100%;
    width: 16.666%;
    float: left;
  }
  .cd-projects-previews li.selected {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .cd-projects-previews li.slide-out {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .cd-projects-previews a {
    /* width equal to window width */
    width: 600%;
  }
  .cd-projects-previews li:nth-of-type(2) a {
    -webkit-transform: translateX(-16.66%);
    -moz-transform: translateX(-16.66%);
    -ms-transform: translateX(-16.66%);
    -o-transform: translateX(-16.66%);
    transform: translateX(-16.66%);
  }
  .cd-projects-previews li:nth-of-type(3) a {
    -webkit-transform: translateX(-33.32%);
    -moz-transform: translateX(-33.32%);
    -ms-transform: translateX(-33.32%);
    -o-transform: translateX(-33.32%);
    transform: translateX(-33.32%);
  }
  .cd-projects-previews li:nth-of-type(4) a {
    -webkit-transform: translateX(-49.98%);
    -moz-transform: translateX(-49.98%);
    -ms-transform: translateX(-49.98%);
    -o-transform: translateX(-49.98%);
    transform: translateX(-49.98%);
  }

    .cd-projects-previews li:nth-of-type(5) a {
    -webkit-transform: translateX(-66.64%);
    -moz-transform: translateX(-66.64%);
    -ms-transform: translateX(-66.64%);
    -o-transform: translateX(-66.64%);
    transform: translateX(-66.64%);
  }

    .cd-projects-previews li:nth-of-type(6) a {
    -webkit-transform: translateX(-83.3%);
    -moz-transform: translateX(-83.3%);
    -ms-transform: translateX(-83.3%);
    -o-transform: translateX(-83.3%);
    transform: translateX(-83.3%);
  }
}

.cd-projects {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.cd-projects > li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.cd-projects > li.selected {
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  transition: opacity 0s;
}
.cd-projects .preview-image {
  display: block;
  height: 100vh;
}

.cd-projects-previews a,
.cd-projects .preview-image {
  /* set a background image for each project */
  background: #5b927d url(../images/cantalope-bg.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(2) a,
.cd-projects > li:nth-of-type(2) .preview-image {
  background: #a8ae7e url(../images/pressed-bg.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(3) a,
.cd-projects > li:nth-of-type(3) .preview-image {
  background: #e7d5a4 url(../images/feed-bg.png) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(4) a,
.cd-projects > li:nth-of-type(4) .preview-image {
  background: #835531 url(../images/team-china-bg.jpg) no-repeat center center;
  background-size: cover;
}

.cd-projects-previews li:nth-of-type(5) a,
.cd-projects > li:nth-of-type(5) .preview-image {
  background: #835534 url(../images/legal-and-general-sticker.png) no-repeat center center;
  background-size: cover;
}



.cd-projects-previews li:nth-of-type(6) a,
.cd-projects > li:nth-of-type(6) .preview-image {
  background: #835536 url(../images/amber-vallery-poster.png) no-repeat center center;
  background-size: cover;
}

.cd-project-title {
  position: absolute;
  width: 100%;
  top: calc(50% - 20px);
  left: 0;
  color: #ffffff;
  -webkit-transform: translateY(-45vh);
  -moz-transform: translateY(-45vh);
  -ms-transform: translateY(-45vh);
  -o-transform: translateY(-45vh);
  transform: translateY(-45vh);
  -webkit-transition: -webkit-transform 0.6s 0.2s;
  -moz-transition: -moz-transform 0.6s 0.2s;
  transition: transform 0.6s 0.2s;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-project-title::after {
  /* line below project title */
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 40px;
  height: 1px;
  background: #ffffff;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.no-touch .cd-projects-previews a:hover .cd-project-title::after {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
}
.cd-projects .cd-project-title::after {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-project-title h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
}
.cd-project-title p {
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.2;
  padding: .4em 2em;
  opacity: .8;
}
@media only screen and (min-width: 1024px) {
  .cd-project-title {
    width: 25%;
    top: 50vh;
    -webkit-transform: translateX(-18%);
    -moz-transform: translateX(-18%);
    -ms-transform: translateX(-18%);
    -o-transform: translateX(-18%);
    transform: translateX(-18%);
  }
}

.cd-projects-previews li:nth-of-type(2) .cd-project-title,
.cd-projects > li:nth-of-type(2) .cd-project-title {
  -webkit-transform: translateY(-28vh);
  -moz-transform: translateY(-28vh);
  -ms-transform: translateY(-28vh);
  -o-transform: translateY(-28vh);
  transform: translateY(-28vh);
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(2) .cd-project-title,
  .cd-projects > li:nth-of-type(2) .cd-project-title {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
}

.cd-projects-previews li:nth-of-type(3) .cd-project-title,
.cd-projects > li:nth-of-type(3) .cd-project-title {
  -webkit-transform: translateY(-12.5vh);
  -moz-transform: translateY(-12.5vh);
  -ms-transform: translateY(-12.5vh);
  -o-transform: translateY(-12.5vh);
  transform: translateY(-12.5vh);
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(3) .cd-project-title,
  .cd-projects > li:nth-of-type(3) .cd-project-title {
    -webkit-transform: translateX(118%);
    -moz-transform: translateX(118%);
    -ms-transform: translateX(118%);
    -o-transform: translateX(118%);
    transform: translateX(118%);
  }
}

.cd-projects-previews li:nth-of-type(4) .cd-project-title,
.cd-projects > li:nth-of-type(4) .cd-project-title {
  -webkit-transform: translateY(4.5vh);
  -moz-transform: translateY(4.5vh);
  -ms-transform: translateY(4.5vh);
  -o-transform: translateY(4.5vh);
  transform: translateY(4.5vh);
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(4) .cd-project-title,
  .cd-projects > li:nth-of-type(4) .cd-project-title {
    -webkit-transform: translateX(185%);
    -moz-transform: translateX(185%);
    -ms-transform: translateX(185%);
    -o-transform: translateX(185%);
    transform: translateX(185%);
  }
}

.cd-projects-previews li:nth-of-type(5) .cd-project-title,
.cd-projects > li:nth-of-type(5) .cd-project-title {
  -webkit-transform: translateY(20vh);
  -moz-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  -o-transform: translateY(20vh);
  transform: translateY(20vh);
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(5) .cd-project-title,
  .cd-projects > li:nth-of-type(5) .cd-project-title {
    -webkit-transform: translateX(250%);
    -moz-transform: translateX(250%);
    -ms-transform: translateX(250%);
    -o-transform: translateX(250%);
    transform: translateX(250%);
  }
}

.cd-projects-previews li:nth-of-type(6) a .cd-project-title,
.cd-projects > li:nth-of-type(6) .cd-project-title {
  -webkit-transform: translateY(28vh);
  -moz-transform: translateY(28vh);
  -ms-transform: translateY(28vh);
  -o-transform: translateY(28vh);
  transform: translateY(28vh);
}
@media only screen and (min-width: 1024px) {
  .cd-projects-previews li:nth-of-type(6) a .cd-project-title,
  .cd-projects > li:nth-of-type(6) .cd-project-title {
    -webkit-transform: translateX(318%);
    -moz-transform: translateX(318%);
    -ms-transform: translateX(318%);
    -o-transform: translateX(318);
    transform: translateX(318%);
  }
}

li.selected .cd-project-title,
.cd-projects > li:nth-of-type(2).selected .cd-project-title,
.cd-projects > li:nth-of-type(3).selected .cd-project-title,
.cd-projects > li:nth-of-type(4).selected .cd-project-title
.cd-projects > li:nth-of-type(5).selected .cd-project-title
.cd-projects > li:nth-of-type(6).selected .cd-project-title         {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1024px) {
  li.selected .cd-project-title,
  .cd-projects > li:nth-of-type(2).selected .cd-project-title,
  .cd-projects > li:nth-of-type(3).selected .cd-project-title,
  .cd-projects > li:nth-of-type(4).selected .cd-project-title
  .cd-projects > li:nth-of-type(5).selected .cd-project-title
  .cd-projects > li:nth-of-type(6).selected .cd-project-title {
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
    transform: translateX(150%);
  }
}

.cd-projects li.selected .cd-project-title::after {
  -webkit-transition: -webkit-transform 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s;
  transition: transform 0.3s 0s;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
}

.touch .cd-projects li.selected .cd-project-title::after {
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}

.cd-project-info {
  display: none;
  padding: 4em 0;
  background-color: #ffffff;
  color: #7d7c7b;
}
.content-visible .cd-project-info {
  display: block;
}
.cd-project-info p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}

.cd-projects-container .scroll {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 50%;
  width: 44px;
  height: 44px;
  /* rest button default style */
  cursor: pointer;
  border: none;
  background: url("../images/cd-icon-arrow.svg") no-repeat center center;
  visibility: hidden;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s;
  transition: transform 0.3s 0s, visibility 0s 0.3s;
}
.cd-projects-container .scroll:focus {
  outline: none;
}

.cd-projects-container.project-open .scroll {
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
  -webkit-animation: cd-translate 1.2s 0.8s;
  -moz-animation: cd-translate 1.2s 0.8s;
  animation: cd-translate 1.2s 0.8s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.no-touch .cd-projects-container.project-open .scroll:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -moz-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  -o-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}
@-moz-keyframes cd-translate {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}
@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
/* --------------------------------

 Navigation

-------------------------------- */
.cd-primary-nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  /* vertically align its content */
  display: table;
}
.cd-primary-nav ul {
  /* vertically align inside nav */
  display: table-cell;
  vertical-align: middle;
}
.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 4px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-touch .cd-primary-nav a:hover {
  background-color: #a8ae7e;
}
.cd-primary-nav .cd-label {
  position: relative;
  margin: 2.4em 0 2em;
  color: #a8ae7e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.cd-primary-nav .cd-label::after {
  /* line below .cd-label*/
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -16px;
  height: 1px;
  width: 40px;
  background-color: currentColor;
}
.cd-primary-nav.nav-visible {
  opacity: 1;
}
.cd-primary-nav.nav-clickable {
  z-index: 3;
}
.no-csstransitions .cd-primary-nav.nav-visible {
  z-index: 3;
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav a {
    font-size: 4rem;
  }
}

.cd-project-info
    text-align: center
    h2
        margin-top: 30px;
        margin-bottom: 30px;


 img.cantaloupe-gif
     max-width: 100%;
     display: block;
     margin-left: auto
     margin-right: auto

 img.wide
     max-width: 100%;
     width: 100%;
     padding-top: 38px;

 img.narrow
     display:block
     width: 90%
     margin-left: auto
     margin-right: auto
     padding-top: 38px;

/* --------------------------------

JavaScript Disabled

-------------------------------- */
.no-js .cd-primary-nav {
  display: block;
  position: static;
  opacity: 1;
  margin-bottom: 1.5em;
}
.no-js .cd-primary-nav ul {
  display: block;
  padding: 0 5%;
}
.no-js .cd-primary-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-primary-nav li:not(.cd-label) {
  display: inline-block;
}


/* Fixed and Alernative background */



.vol-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}


.vol-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}


.vol-fixed-bg.vol-bg-1 {
  background-image: url("../images/content-bg.jpg");
}
.vol-fixed-bg.vol-bg-2 {
  background-image: url("../images/diamond-bg.png");
    background-size: 100px 100px;
    background-color: #4cd87b;
    background-repeat: repeat;
}
.vol-fixed-bg.vol-bg-3 {
  background-image: url("../images/img-9.jpg");
}
.vol-fixed-bg.vol-bg-4 {
  background-image: url("../images/graphic-design-bg.jpg");
}

@media only screen and (min-width: 1170px) {
  .vol-fixed-bg {
    background-attachment: fixed;
        height: 850px;
  }

}

.vol-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  z-index: 2;
}
.vol-scrolling-bg.vol-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.vol-scrolling-bg.vol-color-2 {
  background-color: #b3a5b6;
    background-image: url("../images/diamond-bg.png");
    background-size: 100px 100px;
}
.vol-scrolling-bg.vol-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .vol-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}


.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

.antispam { display:none;}

.ui-loader {
    display: none;
}

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width: 750px;
  height: 300px;
  padding: 10px;
  background-color: #ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}

#popupfoot {
  font-size: 16pt;
  position: absolute;
  bottom: 0px;
  width: 250px;
  left: 250px;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}



.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  z-index: 2;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  color: #444444;
  max-width: 640px;
  margin: 1em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

img.contact-form {
    margin-top: 3em;
}

.footer-text {
    margin-top: -47px;
}