   
html
   font-family: 'LatoWeb', sans-serif;
p
    font-size: 16px;
    line-height: 26px;
    font-family: 'LatoWebLight';
h1
    font-size: 41px;
    font-weight: 400;
    line-height: 50px;
    font-family: 'LatoWebMedium';
h2
    font-size: 26px;
    margin-bottom: 27px;
    font-family: 'LatoWebLight';

h3
    font-size: 26px;
    margin-bottom: 26px;
    font-family: 'LatoWeb';

.opener 
	background: url('../images/splash-screen-1.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
    
/* Start of Navigation CSS */ 
	 
ul {
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}
li {
    padding:0;
    margin:0;
}

.header-nav 
    background: #424242;
 
 .logo {
    float: left;
    z-index: 3;
    position: absolute;
    width: 222px;
    margin-top: -8px;
}   
    
.main-logo {
    position: relative;
    width: 222px;
    top: 10px;
    left: 20px;
    }
    
nav {
    text-align:center;
    width:100%;
    position:relative;
    height:auto;
    overflow:hidden;
    background:none;
}
nav ul {
    text-align:center;
}
nav ul li {
    display:inline-block;
}
nav ul li a {
    color:#fff;
    display:inline-block;
    padding:1em 3em;
    text-decoration:none;
    letter-spacing: 1px;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size:16px;
}
nav ul li a:hover {
    color: #f2385a;
}

nav a span:hover, nav a span:active {
     border-bottom: 5px #fff solid;
    padding-bottom: 5px;
}
/*styling open close button*/
.button {
    display:inline;
    position:absolute;
    right:50px;
    top:6px;
    z-index:999;
    font-size:30px;
}
.button a {
    text-decoration:none;
}
.btn-open:after {
    color:#fff;
    content:"\f0c9";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
    color:#f2385a;
}
.btn-close:after {
    color:#fff;
    content:"\f00d";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
    color: #f2385a;
}
/*overlay*/
.overlay {
    display:none;
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    background:#333;
    overflow:auto;
    z-index:99;
}
.wrap {
    color:#e9e9e9;
    text-align:center;
    max-width:90%;
    margin:0 auto;
}
.wrap ul.wrap-nav {
    border-bottom:1px solid #575757;
    text-transform:capitalize;
    padding:10px 0px 10px;
}
.wrap ul.wrap-nav li {
    font-size:20px;
    display:inline-block;
    vertical-align:top;
    width:24%;
    position:relative;
}
.wrap ul.wrap-nav li a {
    color:#f2385a;
    display:block;
    padding:8px 0;
    text-decoration:none;
    letter-spacing: 1px;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
    color:#fff;
}
.wrap ul.wrap-nav ul {
    padding:20px 0;
}
.wrap ul.wrap-nav ul li {
    display:block;
    font-size:13px;
    width:100%;
    color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
    color:#f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
    text-decoration: underline;
}
.social {
    font-size:25px;
    padding:20px;
}
.social p {
    margin:0;
    padding:20px 0 5px 0;
    line-height:30px;
    font-size:13px;
}
.social p a {
    color:#34B484;
    text-decoration:none;
    margin:0;
    padding:0;
}
.social-icon {
    width:80px;
    height:50px;
    background:#e9e9e9;
    color:#333;
    display:inline-block;
    margin:0 20px;
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
}
.social-icon:hover {
    background:#34B484;
    color:#f0f0f0;
}
.social-icon i {
    margin-top:12px;
}
@media screen and (max-width:48em) {
    .wrap ul.wrap-nav>li {
        width:100%;
        padding:30px 0;
        border-bottom:1px solid #575757;
    }
    .wrap ul.wrap-nav {
        padding:30px 0px 0px;
    }
    nav ul {
        opacity:0;
        visibility:hidden;
    }
    .social {
        color:#c1c1c1;
        font-size:25px;
        padding:15px 0;
    }
    .social-icon {
        width:100%;
        height:50px;
        background:#fff;
        color:#333;
        display:block;
        margin:5px 0;
    }
}
.content {
    width:100%;
    margin-top:200px;
    font-size:20px;
    color#333;
    text-align: center;
}

/* End of Navigation Responsive CSS */  

.content-top {
    padding-bottom: 50px;
}


.content-bg 
	position:relative;
	background: url('../images/content-bg.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	
.header
	color: #fff;
.header h3
    margin-left: 30px;
    margin-top: 0;    
.header p
        line-height: 40px;  
        margin-left: 30px;  
	
		

.welcome h1 {
    font-size: 33px;
    font-weight: 400;
}
    
.welcome 
	padding: 30px 20px 0 20px;
	color: #fff;
    
	h2 
		word-break: keep-all;
		font-weight: 300;font-size: 33px;line-height:50px;margin-bottom: 30px;
		
	
.process
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 20px 0 20px;
	background: #4ad9d9;width:600px;
    
	img
		float: right;
		
		
	
.branding
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 20px 0 20px;
	background: #4cd87b;width:600px;
	img
		float: right;
			

.web-design
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 20px 0 20px;
	background: #595b59;width:600px;
	img
		float: right;
					
.intro-footer
	background: #4cd87b;
 


 


/* Start of Intro Responsive CSS */  

@media only screen and (min-width : 320px) and (max-width : 660px){
    .process,.branding,.web-design {
        width: auto;
    }
    
    } 
     
@media only screen and (min-width : 320px) and (max-width : 480px){

    
.process img, .branding img, .web-design img {
    display: none;
    

} 
    
}

 /* End of Intro Responsive CSS */            
	
.diamond, .diamond div {
    margin: 0 auto;
    transform-origin: 50% 50%;
  overflow: hidden;
  width: 280px;
  height:280px;
  position: relative;
    z-index: 1;
}

.diamond {
    transform: rotate(45deg) translateY(10px);
    transform: rotateX(60deg) rotateZ(45deg);
    background-color: #fff;
    
}

.diamond .diamond-text {
    width: 240px;
    height:240px;
    transform: rotate(-45deg) translateY(-74px);
}
    
.services-h1 
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: -11%;
    margin-bottom: 100px;
    font-weight: 300;
    font-size: 46px;
    font-family: 'LatoWebThin';
    color: #4cd87b;
    
    
.services-top
	background-color: #4cd87b;	
	font-size: 29px;
	font-weight: 300;font-family: 'LatoWebLight';
    
.services
    background-image: url("../images/diamond-bg.png");
    background-size: 100px 100px;
    
.services-bg
    background-image: url("../images/services-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    
.services ul
	text-align: center;color: #fff;
	
	
	li
		display: inline-block;
		padding: 10px;
		
.services-bottom
    	
	img
		max-width: 100%;
		
.services-text-bg
    background-color: #595b59;
    float: right;
    width: 40%;
    text-align: center;
	
.services-text
	font-size: 53px;line-height: 82px;font-weight: 200;
	color: #fff;
	
	margin-top: 1em; margin-bottom: 1em;text-transform: uppercase;font-family: 'LatoWebHairline';
.logo-only
    text-align: center;

/* Start of Services Responsive CSS */    

@media only screen and (min-width : 320px) and (max-width : 480px) {
    
    .diamond, .diamond div {   
    width: 220px;
    height:220px;
 
}

.services-h1 {

    text-align: center;
    margin-top: -33%;
    margin-bottom: 100px;   
    font-size: 38px;   
    
    }
    
    .services-text-bg {
        
        width: 100%;
    }
    
} 


@media only screen and (min-width : 900px)  and (max-width : 1024px){

.services-h1 {
margin-top: -16%;

}
}

@media only screen and (min-width : 768px)  and (max-width : 900px){

.services-h1 {
margin-top: -20%;

}

}

@media only screen and (min-width : 480px)  and (max-width : 600px){
    
    .services-h1 {

    
    margin-top: -28%;
    margin-bottom: 100px;   
     
    
    }
    
 
.services-bottom {
    margin-top: -55px;
}
    .services-text-bg {
        float:none;
        width: 65%;
    }
    
}     


@media only screen and (min-width : 601px)  and (max-width : 767px){
    
        .services-text-bg {
        float:none;
        width: 65%;
    }
}

@media only screen and (min-width : 800px)  and (max-width : 900px){
    
        .services-h1 {

    
    margin-top: -19%;
    margin-bottom: 100px;   
       
    
    }
}

/* End of Services Responsive CSS */   

.team-section
    background-color: #fff;
    background-image: url("../images/diamond-bg-25.png");
    background-size: 100px 100px;
    padding-top: 56px;
    padding-bottom: 56px;
    h2
        font-size: 53px;
        line-height: 82px;
        font-weight: 300;
        font-family: 'LatoWebThin';
        text-align: center;
    h3
        font-size: 28px;
        line-height: 53px;
        font-weight: 300;
        font-family: 'LatoWebLight';
        text-align: center;
        color: #fff;
        span
            background-color: #f2385a;
            padding: 10px 30px 10px 30px;
            
.team-table
    display: table;
    width: 100%;
    
.team-bio
    margin-left: auto;
    margin-right: auto;
    width: 46%;
    text-align: center;


@media only screen and (min-width : 600px) and (max-width : 2000px) {
    

.content-box {
    position: relative;
    height: 620px;  
    }  
.content {
    position: absolute
    bottom: 0   
    }
    
    }    
    
@media only screen and (min-width : 600px) and (max-width : 900px) {
    

.team-bio{
    width: 94%;
    }
    
}         

.bio-name
    color: #f2385a;
    font-family: 'LatoWebSemibold';
    font-size: 16px;
    line-height: 26px;
    
.bio-title
    font-family: 'LatoWebLight';
    font-style: italic;
    font-size: 16px;
    line-height: 26px;color: #000;
    
#rudy-popup
    h3
        color: #f2385a;
        font-family: 'LatoWebSemibold';
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 0;
    h2
        font-family: 'LatoWebLight';
        font-style: italic;
        font-size: 16px;
        line-height: 26px;
        margin-top: 0;
        padding-bottom: 30px;
    p
        font-family: 'LatoWebLight'
        font-size: 18px;
        line-height: 26px;
            

.graphic-design,.web-section
    background-color: #595b59;
    padding: 0 30px 0 30px;
    color: #fff;
    h2
        font-size: 53px;
        font-weight: 200;
        line-height: 82px;
        font-family: 'LatoWebHairline';
    p
        font-size: 18px;
        line-height: 26px;
    div
        margin-bottom: 28px;
        margin-top: 28px;
    ul
        margin-left: 30px;
        li
            padding-top: 10px;
            font-size: 18px;
            line-height: 32px;
            font-family: 'LatoWebLight';
    button
        font-size: 18px;
        line-height: 26px;
        color: #000;
        margin-left: 30px;
        padding: 10px 30px 10px 30px;

.offer
    font-size: 18px;
    line-height: 26px;
    font-family: 'LatoWebMedium';
    
    


@media only screen and (max-width : 600px)  {
    

.gif-box {
    background: url('../images/gifs/small-size-graphic-design.gif')
    background-repeat: no-repeat;
    height: 375px;
    background-position: center center;
    }
    
}  

@media only screen and (min-width : 601px) and (max-width : 1980px)   {
    

.gif-box {
    background: url('../images/gifs/main-size-graphic-design.gif')
    background-repeat: no-repeat;
    height: 375px;
    background-position: center center;
    }
    
}      

.graphic-bottom
    background-color: #f2385a;
    background-image: url("../images/diamond-bg.png");
    background-size: 100px 100px;
    h2
        text-align: center;
        font-size: 53px;
        line-height: 82px;
        font-weight: 200;
        font-family: 'LatoWebHairline';
        text-transform: uppercase;
        padding-top: 60px;
        padding-bottom: 60px;
        color: #fff;
        
.graphic-table


    .first
        background-color:#4ad9d9;
    .second
        background-color: #4cd87b;
    .third
        background-color: #595b59;
    
.first, .second, .third
    text-align: center;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-right: -1.6%;
    width: 33.33%;
    
    h3
        font-size: 26px;
        line-height: 26px;
        font-family: 'LatoWebSemibold';
    
    p
        padding: 0 30px 0 30px;
        
@media only screen and (min-width : 320px) and (max-width: 600px) {
    

    .first, .second, .third {
     margin-right: 0;
    width: auto;
}
} 
       
.graphic-image
    width: 100%;
    background-color: #595B59;
    img
        max-width: 100%;

.footer
    background-color: #2d2d2d;
    color: #fff;
    font-family: 'LatoWebSemibold';
    font-size: 18px;
.footer-container
    padding: 70px 30px 50px 30px;
    h3
        margin-top: 0;
        margin-bottom: 35px;
        font-family:"LatoWebSemibold";
        font-size: 26px;
        line-height: 26px;
    a
        color: #fff;
        text-decoration:none;
        font-family: 'LatoWebLight';
        font-size: 16px;
        line-height: 26px;
    .fa-stack
        padding-bottom: 10px;
address
    font-family: 'LatoWebLight';
    font-size: 16px;
    line-height: 26px;
    .bold
        font-family: 'LatoWebSemibold'              
input
    font-size: 14px;
    font-style: italic;
    margin: 10px;
    padding:10px;
    
input#services
    width: 90%;

input#details
    width: 90%;
    padding-bottom: 60px;    
input#contact-name
    width: 42%; 
input#tel
    width:42%;
input#email
    width: 42%;            

input[type="submit"] {
    font-family: FontAwesome;
    font-size: 20px;
    color: #39a25c;
    border: 0;
    background-color: #2d2d2d;
    margin: 0;
    padding: 0 10px 0 20px;
    
} 


.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 900px;
  margin: 20px auto;
}


/* 
====== Zoom effect ======
*/
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
      transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

